*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    background: #FEFF86;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    width: 70%;
    height: 10%;
    text-align: center;
    font-size: 45px;
    color: #A31ACB;
   
}
.container{
    width: 40%;
    height: 60%;
    background: #A460ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px
}
.priceSection{
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
   
}
#price{
    width: 20%;
    height: 20%;
    border: 4px solid #F07DEA;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    text-align: center
}
#pricetag,#discountpara{
    font-size: 25px;
}
.discountSection{
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
#discount{
    width: 20%;
    height: 20%;
    border: 4px solid #F07DEA;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    text-align: center
}
.displaySection{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#btn{
    padding: 10px 10px;
    background: #F07DEA;
    font-size: 18px;
    border: transparent;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
}